site_name: "{{ project_name }}"
{% if project_description %}
site_description: "{{ project_description }}"
{% endif %}
site_url: "https://{{ repository_name.split("/")[0] }}.github.io/{{ repository_name.split("/")[1] }}"
repo_url: "https://github.com/{{ repository_name }}"
edit_uri: blob/master/docs/
use_directory_urls: false

theme:
  name: material
  icon:
    repo: fontawesome/brands/github
  palette:
    primary: teal
    accent: purple

markdown_extensions:
- pymdownx.details
- pymdownx.highlight
- pymdownx.magiclink
- pymdownx.saneheaders
- pymdownx.superfences
- pymdownx.snippets:
    check_paths: true
- admonition
- toc:
    permalink: "#"
