#!/bin/sh
set -e

cd "$(dirname "$0")/.."

with_groups() {
    echo "::group::$@"
    "$@" && echo "::endgroup::"
}

src="{{ python_import_name }}"

"$@" autoflake -i -r --remove-all-unused-imports --remove-unused-variables $src{% if pytest %} tests{% endif %}

"$@" isort -q $src{% if pytest %} tests{% endif %}

"$@" black -q $src{% if pytest %} tests{% endif %}

{% if pytest %}
"$@" pytest -q
{% endif %}
{% if pytype %}
python -c 'import sys, os; sys.exit((3,8) <= sys.version_info < (3,10) and os.name == "posix")' ||
"$@" pytype $src
{% endif %}
